@import '../../styles/colors.scss';
@import '../../styles/typography.scss';

.tag {
  @include font-s6;
  border-radius: 12px;
  border: 1px solid transparent;
  color: $color-black-1;
  background: $color-white;
  padding: 0 8px;
  display: inline-block;

  &__icon {
    color: $color-black-4;
    margin-top: -3px;
  }
  &--green {
    background: $color-green-5;
    color: $color-green-1;
    svg-icon {
      color: $color-green-4;
    }
  }

  &--black {
    background: $color-black-6;
  }
  &--border {
    border-color: $color-black-5;
  }
}
