$color-primary-1:rgba(21, 21, 21, 1);
$color-primary-2: rgba(87, 87, 87, 1);
$color-primary-3:rgba(169, 169, 169, 1);
$color-primary-4: rgba(209, 209, 209, 1);
$color-primary-5:rgba(235, 235, 235, 1);
$color-primary-6:#rgba(245, 245, 245, 1);
$color-primary-7:rgba(249, 249, 249, 1);

$color-secondary-1:rgba(106, 152, 60, 1);
$color-secondary-2:rgba(70, 118, 10, 1);
$color-secondary-3:rgba(146, 192, 100, 1);
$color-secondary-4:rgba(200, 222, 179, 1);
$color-secondary-5:rgba(244, 248, 236, 1);

$color-third-1:rgba(208, 168, 102, 1);
$color-third-2:rgba(178, 138, 72, 1);
$color-third-3:rgba(236, 210, 166, 1);
$color-third-4:rgba(250, 237, 216, 1);
$color-third-5:rgba(255, 249, 240, 1);

$color-fourth-1:rgba(229, 112, 75, 1);
$color-fourth-2:rgba(199, 82, 45, 1);
$color-fourth-3:rgba(235, 141, 112, 1);
$color-fourth-4:rgba(247, 198, 183, 1);
$color-fourth-5:rgba(255, 241, 237, 1);

$color-fifth-1:rgba(55, 208, 214, 1);
$color-fifth-2:rgba(25, 178, 184, 1);
$color-fifth-3:rgba(124, 208, 211, 1);
$color-fifth-4:rgba(185, 230, 232, 1);
$color-fifth-5:rgba(236, 246, 246, 1);