
@mixin font-s1 {
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 140%;
}
@mixin font-s2 {
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 26px;
line-height: 39px;
}
@mixin font-s3 {
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 33px;
}
@mixin font-s4 {
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
}
@mixin font-s5 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    }
@mixin font-s6 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    }

@mixin font-button{
font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 22px;
}
@mixin font-lead{
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 17px;
line-height: 23px;
}
@mixin font-body{
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;
}
@mixin font-caption{
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 16px;
}
