@import '../../styles/colors.scss';
@import '../../styles/typography.scss';

.btn {
  @include font-button;
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;

  border-radius: 1.2rem;
  padding: 1.5rem 4.8rem;
  border: 0.2rem solid transparent;
  outline: none;
  transition: opacity 220ms ease;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &--default {
    background: $color-white;
    border-color: $color-green-3;
    color: $color-black-1;

    svg-icon {
      color: $color-green-3;
    }
  }

  &--small {
    padding: 1.2rem 1.6rem;
  }

  &--smallest {
    padding: 0.6rem 1.2rem;
  }

  &--green {
    background: $color-green-1;
    border-color: $color-green-2;
    color: $color-white;
  }

  &--gray {
    background: $color-black-6;
    border-color: $color-black-6;
    color: $color-black-1;
  }
  &--transparent {
    background: none;
    color: $color-black-1;
    svg-icon {
      color: $color-green-3;
    }
  }
}
