@import './colors.scss';
@import './typography.scss';
@import '../components/buttons/buttons.scss';
@import '../components/forms/checkbox.scss';
@import '../components/forms/input.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  @include font-body;
}
