.avatar {
  border-radius: 50%;
  overflow: hidden;
  position: relative;

  &--small {
    width: 32px;
    height: 32px;
  }
  &--middle {
    width: 40px;
    height: 40px;
  }
  &--big {
    width: 64px;
    height: 64px;
  }
  &__photo {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
