@import '../../styles/colors.scss';
@import '../../styles/typography.scss';

.checkbox {
  @include font-body;
  display: block;
  position: relative;
  padding: 5px;
  cursor: pointer;

  &__input {
    position: absolute;
    z-index: -1;
    visibility: hidden;
  }

  &__label {
    color: $color-black-1;
  }

  &__icon {
    border: 1.5px solid $color-black-4;
    color: $color-white;
    border-radius: 2px;
    transition: border-color 250ms ease;
    svg-icon {
      opacity: 0;

      transition: opacity 250ms ease;
    }
  }

  &__input:checked ~ &__icon {
    background-color: $color-green-1;
    border: 1.5px solid $color-green-2;
    svg-icon {
      opacity: 1;
    }
  }
}
