@import '../../styles/colors.scss';
@import '../../styles/typography.scss';

legend {
  @include font-s6;
  color: $color-black-1;
  padding-left: 0.8rem;
}
.input {
  @include font-body;
  background: $color-black-7;
  border: 1px solid $color-black-4;
  color: $color-black-3;
  border-radius: 1.2rem;
  padding: 1.8rem 1.2rem;
  transition: opacity 220ms ease;
  outline: none;
  cursor: pointer;
}
.select {
  @include font-body;
  background: $color-black-7;
  border: 1px solid $color-black-4;
  color: $color-black-3;
  border-radius: 1.2rem;
  padding: 1.8rem 10.1rem 1.8rem 1rem;
  transition: opacity 220ms ease;
  cursor: pointer;
  outline: none;
}
.block-mailLeft {
  position: relative;
}
.input__withMail {
  @include font-body;
  background: $color-black-7;
  border: 1px solid $color-black-4;
  color: $color-black-3;
  border-radius: 1.2rem;
  padding: 1.9rem 0 1.9rem 3rem;
  transition: opacity 220ms ease;
  outline: none;
  cursor: pointer;
}
.icon-left {
  position: absolute;
  z-index: 10;
  top: 4.1rem;
  left: 1rem;
}

.block-checkboxSelect {
  position: relative;
}
.select__withCheckbox {
  @include font-body;
  background: $color-black-7;
  border: 1px solid $color-black-4;
  color: $color-black-3;
  border-radius: 1.2rem;
  padding: 1.8rem 8rem 1.8rem 3rem;
  transition: opacity 220ms ease;
  cursor: pointer;
  outline: none;
}

.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  top: 4.1rem;
  left: 1.9rem;
}
.custom-checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.checkbox + label::before {
  content: '';
  position: absolute;
  top: 4.1rem;
  left: 0.9rem;
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid $color-green-1;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.checkbox:checked + label::before {
  border-color: $color-black-1;
  background-color: $color-green-2;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
.block-mailRight {
  position: relative;
}
.input__withMail {
  @include font-body;
  background: $color-black-7;
  border: 1px solid $color-black-4;
  color: $color-black-3;
  border-radius: 1.2rem;
  padding: 1.9rem 0 1.9rem 3rem;
  transition: opacity 220ms ease;
  outline: none;
  cursor: pointer;
}
.icon-right {
  position: absolute;
  z-index: 10;
  top: 4.1rem;
  left: 18rem;
}
