@import '../../styles/colors.scss';
@import '../../styles/typography.scss';
/* 
input.input .select {
  @include font-body;
  background: $color-black-7;
  border: 1px solid $color-black-4;
  color: $color-black-3;
  border-radius: 1.2rem;
  padding: 1.8rem 10.1rem 1.8rem 1rem;
  transition: opacity 220ms ease;
  cursor: pointer;
  outline: none;
} */
